<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © Tanner Gooding and Contributors. Licensed under the MIT License (MIT). See License.md in the repository root for more information. -->
<!-- Ported from https://github.com/MicrosoftDocs/sdk-api/ -->
<doc>
  <member name="IFilterMapper.EnumMatchingFilters">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  The <b>IFilterMapper</b> interface is deprecated. Use <see cref="IFilterMapper2" /> instead.</div>Provides an enumerator that enumerates registered filters that meet specified requirements.</summary>
    <param name="ppEnum">Address of a pointer to the enumerator returned.</param>
    <param name="dwMerit">Minimum merit value of filters to enumerate.</param>
    <param name="bInputNeeded">Value indicating whether there must be at least one input pin; <b>TRUE</b> indicates at least one input pin is required.</param>
    <param name="clsInMaj">Input major type required. Set to GUID_NULL if you do not care.</param>
    <param name="clsInSub">Input subtype required. Set to GUID_NULL if you do not care.</param>
    <param name="bRender">Flag that specifies whether the filter must render the input; <b>TRUE</b> means that it must.</param>
    <param name="bOututNeeded">Value indicating whether there must be at least one output pin; <b>TRUE</b> indicates at least one output pin is required.</param>
    <param name="clsOutMaj">Output major type required. Set to GUID_NULL if you do not care.</param>
    <param name="clsOutSub">Output subtype required. Set to GUID_NULL if you do not care.</param>
    <returns>Returns an <b>HRESULT</b> value.</returns>
  </member>
  <member name="IFilterMapper.RegisterFilter">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  The <b>IFilterMapper</b> interface is deprecated. Use <see cref="IFilterMapper2" /> instead.</div>Adds a filter to the registry; the filter can then be enumerated.</summary>
    <param name="clsid">Globally unique identifier (<b>GUID</b>) of the filter.</param>
    <param name="Name">Descriptive name for the filter.</param>
    <param name="dwMerit">Position in the order of enumeration. Filters with higher merit are enumerated first.</param>
    <returns>Returns an <b>HRESULT</b> value.</returns>
  </member>
  <member name="IFilterMapper.RegisterFilterInstance">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  The <b>IFilterMapper</b> interface is deprecated. Use <see cref="IFilterMapper2" /> instead.</div>Registers an identifiable instance of a filter.</summary>
    <param name="clsid">GUID of the filter.</param>
    <param name="Name">Descriptive name of the instance.</param>
    <param name="MRId">Pointer to the returned media resource ID. This parameter is a locally unique identifier for this instance of this filter.</param>
    <returns>Returns an <b>HRESULT</b> value.</returns>
  </member>
  <member name="IFilterMapper.RegisterPin">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  The <b>IFilterMapper</b> interface is deprecated. Use <see cref="IFilterMapper2" /> instead.</div>Records the details of the pin in the registry.</summary>
    <param name="Filter">GUID of the filter.</param>
    <param name="Name">Name of the pin. This should be unique within the filter. It has no significance other than to indicate type information. You should not use pin names longer than 99 characters, because this causes filter enumeration problems.</param>
    <param name="bRendered">Value specifying whether the filter renders this input. Set to <b>TRUE</b> if it does; otherwise, set to <b>FALSE</b>.</param>
    <param name="bOutput">Value specifying whether this is an output pin. Set to <b>TRUE</b> if it is; otherwise, set to <b>FALSE</b>.</param>
    <param name="bZero">Value specifying whether the filter can have zero instances of this pin. If it can, set to <b>TRUE</b>; otherwise, set to <b>FALSE</b>. For example, a decompression filter doesn't need to create a sound output pin for a movie without a sound track.</param>
    <param name="bMany">Value specifying whether the filter can have many instances of this pin. If it can, set to <b>TRUE</b>; otherwise, set to <b>FALSE</b>. For example, a mixer might have multiple instances of its input pin.</param>
    <param name="ConnectsToFilter">Reserved. Must be <b>NULL</b>. (This is intended for filters such as system-wide mixers that have connections outside the filter graph. It is not yet implemented.)</param>
    <param name="ConnectsToPin">Reserved. Must be <b>NULL</b>.</param>
    <returns>Returns an <b>HRESULT</b> value.</returns>
  </member>
  <member name="IFilterMapper.RegisterPinType">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  The <b>IFilterMapper</b> interface is deprecated. Use <see cref="IFilterMapper2" /> instead.</div>Registers this pin type.</summary>
    <param name="clsFilter">Class identifier (CLSID) of the filter to which the pin belongs.</param>
    <param name="strName">Name by which it is known.</param>
    <param name="clsMajorType">Major type of the media sample supported by this pin class.</param>
    <param name="clsSubType">Subtype of the media sample supported by this pin class.</param>
    <returns>Returns an <b>HRESULT</b> value.</returns>
  </member>
  <member name="IFilterMapper.UnregisterFilter">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  The <b>IFilterMapper</b> interface is deprecated. Use <see cref="IFilterMapper2" /> instead.</div>Removes the registration of this filter from the registry.</summary>
    <param name="Filter">GUID of the filter.</param>
    <returns>Returns an <b>HRESULT</b> value.</returns>
  </member>
  <member name="IFilterMapper.UnregisterFilterInstance">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  The <b>IFilterMapper</b> interface is deprecated. Use <see cref="IFilterMapper2" /> instead.</div>Removes the registration of this filter instance from the registry.</summary>
    <param name="MRId">Media resource identifier of this instance.</param>
    <returns>Returns an <b>HRESULT</b> value.</returns>
  </member>
  <member name="IFilterMapper.UnregisterPin">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  The <b>IFilterMapper</b> interface is deprecated. Use <see cref="IFilterMapper2" /> instead.</div>Removes the registration of this pin from the registry.</summary>
    <param name="Filter">GUID of the filter that this pin is part of.</param>
    <param name="Name">Name of the pin.</param>
    <returns>Returns an <b>HRESULT</b> value.</returns>
  </member>
  <member name="IFilterMapper">
    <summary>
      <para>[The feature associated with this page, <a href="https://docs.microsoft.com//windows/win32/directshow/directshow">DirectShow</a>, is a legacy feature. It has been superseded by <a href="https://docs.microsoft.com//uwp/api/Windows.Media.Playback.MediaPlayer">MediaPlayer</a> and <see cref="IMFMediaEngine" />. <b>MediaPlayer</b> and <b>IMFMediaEngine</b> have been optimized for Windows 10 and Windows 11. Microsoft strongly recommends that new code use <b>MediaPlayer</b> and <b>IMFMediaEngine</b> instead of <b>DirectShow</b>, when possible. Microsoft suggests that existing code that uses the legacy APIs be rewritten to use the new APIs if possible.]</para>
      <div>
        <b>Note</b>  This interface has been deprecated. It will continue to be supported for backward compatibility with existing applications, but new applications should use the <see cref="IFilterMapper2" /> interface.</div>This interface provides methods for registering and unregistering filters, and for looking up filters based on their characteristics.</summary>
  </member>
</doc>