<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © Tanner Gooding and Contributors. Licensed under the MIT License (MIT). See License.md in the repository root for more information. -->
<!-- Ported from https://github.com/MicrosoftDocs/sdk-api/ -->
<doc>
  <member name="ACL">
    <summary>The <b>ACL</b> structure is the header of an <a href="https://docs.microsoft.com//windows/desktop/SecGloss/a-gly">access control list</a> (ACL). A complete ACL consists of an <b>ACL</b> structure followed by an ordered list of zero or more <a href="https://docs.microsoft.com//windows/desktop/SecGloss/a-gly">access control entries</a> (ACEs).</summary>
  </member>
  <member name="ACL.AclRevision">
    <summary>Specifies the revision level of the ACL. This value should be ACL_REVISION, unless the ACL contains an object-specific ACE, in which case this value must be ACL_REVISION_DS. All ACEs in an ACL must be at the same revision level.</summary>
  </member>
  <member name="ACL.Sbz1">
    <summary>Specifies a zero byte of <a href="https://docs.microsoft.com//windows/desktop/SecGloss/p-gly">padding</a> that aligns the <b>AclRevision</b> member on a 16-bit boundary.</summary>
  </member>
  <member name="ACL.AclSize">
    <summary>Specifies the size, in bytes, of the ACL. This value includes both the <b>ACL</b> structure and all the ACEs.</summary>
  </member>
  <member name="ACL.AceCount">
    <summary>Specifies the number of ACEs stored in the ACL.</summary>
  </member>
  <member name="ACL.Sbz2">
    <summary>Specifies two zero-bytes of <a href="https://docs.microsoft.com//windows/desktop/SecGloss/p-gly">padding</a> that align the <b>ACL</b> structure on a 32-bit boundary.</summary>
  </member>
</doc>